doctype html
html
  head
    title Simple Map
    script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
    script(src='/javascripts/main.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='initial-scale=1.0')
    meta(charset='utf-8')
    body
      input#pac-input.controls(type='text', placeholder='Search Box')
      #map
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCIH88GpAbKei66fYMJOACK0QAk9_y6BZw&callback=initMap&libraries=places&language=tw', async='', defer='')
      script(src='http://connect.facebook.net/en_US/all.js')
      script.
        window.fbAsyncInit = function () {
          FB.init({
            appId: '818306144937790',
            xfbml: true,
            version: 'v2.6'
          });
        };
        (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {
            return;
          }
          js = d.createElement(s);
          js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        function initMap() { runAllProcess(); }
